.user__header {
    background-color: #1f182c;
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    background-color: #0b0a0b;
    color: #fff;
    
}
.dio__logo {
    display: flex;
    flex-direction: row;
    
}
.dio__logo img{
    width: 110px;
    
    
}
.dio__logo h1{
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;
    color: transparent;
    background: -webkit-linear-gradient(left, #2EAAE1, #4A63A9, #56509A, #E94D5F);
    -webkit-background-clip: text;
    margin: 0;
    
}
.header__buttons{
    display: flex;
    align-items: center;
}
.logout__btn{
    padding: .5rem 1.5rem;
    border-radius: 52px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: OpenSans,Arial,sans-serif;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    
}
.logout__btn:hover{
    color: #8d4ada;
}