footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
    text-align: center;
    border-top: 1px solid #fff;
    color: white;
    
}
footer img{
    max-width: 265px;
    
}
footer a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: bold;
}